<div class="modal fade" id="vocabModal<%= vocab.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p> Die Actual Word kom hier -- hoe gaan ek die info tot hier kry vocab.word??</p>
        <div class="container">
          <p>TODO Die betekenis kom hier van die web af ...en save die betekenisse in Word.new.</p>
          <p>Dan moet jy Word en Storie gebruik om 'n nuwe Vocab te maak as daar save geklink word</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Maak toe</button>
        <button type="button" class="btn btn-primary">Onthou <strong>die vocab.word</strong></button>
      </div>
    </div>
  </div>
</div>
