<nav>
  <%= link_to "in die begin_", pages_home_path, class: "pirata-one-regular link-home" %>
  <ul class="d-flex dlex-column m-0 p-0">
    <li class="align-self-center">
      <%= link_to "About", about_path, class: "ovo-regular" %>
    </li>
    <li class="align-self-center">
      <%= link_to "Stories", stories_path, class: "ovo-regular" %>
    </li>
  </ul>
</nav>
