<div class="container">
  <h2>Wie is ons?</h2>
  <div class="container">
    <p>
      Ons is net mense wat lief is vir die Afrikaanse taal.
      <br>
      Dit het begin met die feit dat my meisie Afrikaans wou leer.
      Ongelukkig is die situasie van so 'n aard dat daar min tot geen hulpbronne beskikbaar is vir diegene wat nie in Suid-Afrika woon nie.
    </p>
  </div>
</div>
<div class="container">
  <h2>Hoe om stories te lees</h2>
  <div>
    <p class="container">
      Ons is net mense wat lief is vir die Afrikaanse taal.
    </p>
    <div class="container flex-column-spaced">
      <% steps = ["Lees net een keer deur", "Lees weer 'n keer duer", "Lees 'n derde keer en soek woorde wat jy nog nie verstaan nie op", "Lees weer en vra jouself vrae"] %>
      <% steps.each do |step| %>
        <div class="container-with-border">
          <p><%= step %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
