<div class="banner" style="background-image: url('https://princealbert.org.za/wp-content/uploads/2025/04/Karoo-South-Africa.jpg');">
  <div class="container-home-title">
    <h1 class="pirata-one-regular main-title">in die begin_</h1>
    <p class="ovo-regular center">in die begin was die woord
      en die woord was by God
      <br>
      en die woord was self god</p>
  </div>
</div>
<div class="container">
  <p>Welcome to
    <strong>in die begin_</strong>
  </p>
</div>
<div>
