<div class="banner mb-8" style="background-image: url('https://princealbert.org.za/wp-content/uploads/2025/04/Karoo-South-Africa.jpg');">
  <div class="container-home-title">
    <h1 class="pirata-one-regular">in die begin_</h1>
    <p class="pirata-one-regular">'n plek waar enige iemand Afrikaans kan leer</p>
  </div>
</div>
<div class="container-home-cards">
  <div>
    <%= link_to "Stories", stories_path, class: "ovo-regular link"%>
  </div>
  <div>
    <% @stories.each do |s| %>
      <div class="home-card">
        <img src="app/assests/images/cat-oncouch.jpg" alt="">
        <div>
          <%= link_to s.title, story_path(s) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
