<div class="banner mb-8" style="background-image: url('https://princealbert.org.za/wp-content/uploads/2025/04/Karoo-South-Africa.jpg');">
  <div class="container-title">
    <h1 class="pirata-one-regular">in die begin_</h1>
    <p class="pirata-one-regular">'n plek waar enige iemand Afrikaans kan leer</p>
  </div>
</div>
<div>
  <%= link_to "Stories", stories_path %>
</div>
