<div class="banner" style="background-image: url('https://princealbert.org.za/wp-content/uploads/2025/04/Karoo-South-Africa.jpg');">
  <div class="container-home-title">
    <h1 class="pirata-one-regular main-title">in die begin_</h1>
    <p class="ovo-regular center">in die begin was die woord
      en die woord was by God
      <br>
      en die woord was self god
    </p>
  </div>
</div>
<div class="container mt-5">
  <h2>In die begin</h2>
  <p>In die begin is 'n webtoepassing waar mense wat Afrikaans leer, net lekker kan lees.</p>
</div>
<div class="container my-5">
  <h2>Jou Stories</h2>
  <div class="row gap-2 justify-content-center">
    <% Story.last(3).each do |story| %>
      <div class="col-sm-12 col-md-4 card p-0" style="width: 18rem;">
        <%= image_tag 'protea-footer.png', class: "card-img-top" %>
        <div class="card-body px-2">
          <h5 class="card-title"><%= story.title %></h5>
          <p class="card-text text-truncate"><%= story.content %></p>
          <%= link_to 'Lees nou', story_path(story.id), class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
</div>
</div>
<div>
