<div>
  <h2>Lees 'n bietjie: </h2>
  <div class="home-card-container">
    <% @stories.each do |s| %>
      <div class="home-card">
        <div class="card-image-container">
          <%= image_tag 'Cat-on-couch.jpg', class: "card-image" %>
        </div>
        <div>
          <%= link_to s.title, story_path(s) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
