<div class="container">
  <h2>
    <%= @story.title %>
  </h2>
  <div class="container-with-border">
    <% @story.content.split() do |c| %>
      <span class="unknown-vocab">
        <% if c.include? "." %>
          <%= c %>
          <br>
        <% else %>
          <%= c %>
        <% end %>
      </span>
    <% end %>
  </div>
</div>
