<div class="container">
  <%= link_to stories_path, class: "back-link" do %>
    <i class="fa-solid fa-chevron-left me-1"></i>Back
  <% end %>
  <h2>
    <%= @story.title %>
  </h2>
  <div class="card p-2">
    <div>
      <% vocab_item = "" %>
      <% @story.content.split() do |c| %>
        <% if c.include? "." %>
          <% vocab_item = c %>
        <% else %>
          <% vocab_item = c %>
        <% end %>
        <%= link_to vocab_item, "#", class: "btn btn-primary rounded-4 m-1", data: { bs_toggle: "modal", bs_target: "#newModal"} %>
        <%= render 'vocab/new' %>
      <% end %>
    </div>
  </div>
</div>
