/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
@import url("./style/banner.css");
@import url("./style/container.css");
@import url("./style/font.css");
@import url("./style/navigation.css");
@import url("./style/card.css");
@import url("./style/form.css");

body {
  margin: 0;
  padding: 0;
}
