.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  height: 90vh;
  width: 100%;
  margin-bottom: 0.4rem;
}

.banner h1, .banner p {
  margin: 0;
  text-align: center;
}
