.home-card {
  margin: 1rem;
  border: 0.1rem solid darkgrey;
  border-radius: 8px;
  box-shadow: 0 0 0.1rem 0.1rem darkgrey;
}

.home-card > div {
  margin: 0.8rem;
  font-family: ovo-regular;
}

.card-reading-title {
  margin: 1rem;
}


.card-reading {
  margin: 1rem;
  padding: 1rem;
}

/* .home-page-nav-card {
  width: 250px;
  height: 200px;
  padding: 8px;
  margin: 8px;
  background-color: white;
  background-size: cover;
  box-shadow: 0 0 8px #19140c;
  border-radius: 5px;
}

.home-page-nav-card-text {
  text-align: center;
  text-decoration: none;
  font-family: ovo-regular;
  color:  white;
} */

/* .home-page-nav-card {
  display: flex;
  width: 60%;
  height: auto;
  padding: 8px;
  margin: 8px;
  background-color: white;
  box-shadow: 0 0 8px #19140c;
  border-radius: 5px;
}

.card-left {
  align-self: flex-start;
}

.card-right {
  align-self: flex-end;
} */
