.home-card {
  margin: 0.8rem;
  border: 0.1rem solid darkgrey;
  border-radius: 8px;
  box-shadow: 0 0 0.1rem 0.1rem darkgrey;
  padding: 0;
}

.home-card > div {
  margin: 0.8rem;
  font-family: ovo-regular;
}

.story-card {
  margin: 1rem;
  padding: 1rem;
  box-shadow: 0 0 0.1rem 0.1rem darkgrey;
  border-radius: 0.4rem;
}

.card-reading {
  margin: 1rem;
  padding: 1rem;
}

.card-image-container {
  overflow: hidden;
  margin: 0;
}

.card-image {
  object-fit: cover;
  width: 100%;
  border-radius: 0.4rem;
}

.login-card {
  margin: 1rem;
  padding: 1rem;
  box-shadow: 0 0 0.1rem 0.1rem darkgrey;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  align-items: start;
}
