.container-title {
  margin: 0 auto;
  color: white;
}

.container-title h1, .container-title p {
  color: white;
  letter-spacing: 0.2vw;
  text-shadow: 0.05em 0.05em #2f3034;
}

.container-carousel {
  margin-top: 10px;
  height: 90vh;
}

/* .container-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 2vw;
  width: 60vw;
} */
