.container-home-title {
  margin: 0 auto;
  color: #fefefc;
}

.container-title h1, .container-title p {
  color: #fefefc;
  letter-spacing: 0.2vw;
  text-shadow: 0.05em 0.05em #2f3034;
}

.container-carousel {
  margin-top: 10px;
  height: 90vh;
}

.container-home-cards {
  margin: 2rem;
}

.container-home-cards > div {
  margin-inline: 1rem;
  display: flex;
  justify-content: space-between;
}

.home-card-container {
  margin: 2rem;
  display: grid;
  grid-template-columns: auto auto auto;

}

.container {
  justify-self: center;
  margin: 0.4rem;
  padding: 1rem;
}

.flex-container {
  justify-self: center;
  margin: 0.4rem;
  padding: 1rem;
  display: flex;
}

.container-with-border {
  margin: 0.4rem;
  padding: 1rem;
  border-radius: 0.4rem;
  box-shadow: 0 0 0.2rem 0.1rem darkgrey;
}

.grid-container {
  margin: 0.4rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: auto auto auto auto;
}
