.container-home-title {
  margin: 0 auto;
  color: white;
}

.container-title h1, .container-title p {
  color: white;
  letter-spacing: 0.2vw;
  text-shadow: 0.05em 0.05em #2f3034;
}

.container-carousel {
  margin-top: 10px;
  height: 90vh;
}

.container-home-cards {
  margin: 2rem;
}

.container-home-cards > div {
  margin-inline: 1rem;
  display: flex;
  justify-content: space-between;
}

.home-card-container {
  margin: 2rem;
}

.container {
  padding: 1rem;
}
