.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position:absolute;
  right: 0;
  left: auto;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0 0 0.1rem 0.1rem darkgrey;
  border-radius: 0.2rem;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}
