.pirata-one-regular {
  font-family: "Pirata One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.ovo-regular {
  font-family: "Ovo", serif;
  font-weight: 400;
  font-style: normal;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.semi-bold {
  font-weight: 600;
}

.main-title {
  font-size: 3.2rem;
  padding: 1rem;
}
