footer {
  margin-top: 3rem;
  background-color: #fff8ee;
  background: url('karoo-mountains-footer');
  background-size: cover;
  background-position: top;
  position: sticky;
  min-height: 56vh;
  width: auto;
}
