footer {
  margin-top: 3rem;
  background-color: #FFF8EE;
  background: url('protea-footer');
  background-size: cover;
  background-position: center;
  position: sticky;
  min-height: 56vh;
  width: auto;
}
