@import "banner";
@import "container";
@import "fonts";
@import "navigation";
@import "card";
@import "form";
@import "vocab";
@import "footer";
@import "link";
@import "dropdown";
@import "avatar";

html {
  overflow-y: scroll;
}
body {
  margin: 0 auto;
  background-color: #fff8ee;
}
