.link {
  margin: 0.6rem;
  text-decoration: none;
  color: black;
}

.link:hover {
  background-color: #fefefc;
  color: darkgrey;
  border-radius: 0.2rem;
}

.link-home {
  margin: 1rem;
  margin-inline-start: 1.4rem;
  text-decoration: none;
  color:  #2f3034;
  font-size: 1.2em;
  align-self: center;
}
